// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgcolor: #EAEAEA
$bgcoloralt: #fff
$linkblue: #2B81EA
$primcolor: #89C004
$seccolor: #797979
$bgcolorhalf: #F5F5F5
$white: #fff
$blackish: #333333

.reviews
  ol
    padding-left: 25px
    margin: 0px
    li
      h4
        margin-bottom: 0px
        color: $blackish
        font-weight: bold
      p
        margin-top: 0.25em
        font-size: 0.85em
      a
