$bgcolor: #F3F3F3
$bgcoloralt: #fff
$linkblue: #0080FF
$primcolor: #89C004
$seccolor: #797979
$white: #fff
$whiteish: #FAFAFA
$blackish: #333333
$red: #D4282E
$redbg: #E3A1A5

*
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif
  background-color: $bgcolor
  margin: 0px
  color: $blackish

div.wrapper
  max-width: 1140px
  margin: 0 auto

.clear
  clear: both
  height: 1.5em


section
  float: left
  margin: 0 1.5%
  width: 67%
  padding: 20px
  h1.ib
    display: inline-block
  h1, h2, h3, h4, h5
    color: $primcolor
    font-weight: normal
    font-family: 'Patua One', sans-serif
  nav
    float: right
    display: inline
    margin-top: 24px
  ul
    list-style-type: none
    margin: 0
    padding: 0
    li
      display: inline
      text-decoration: none
      padding: 10px
      &:first-child
        padding-left: 0px
      a
        width: auto
        padding: 10px 20px
        color: $primcolor
        border: 1px solid $primcolor

article.thumb
  background-color: $whiteish
  width: 100%
  padding: 30px
  position: relative
  float: left
  margin: 10px 1.5%
  .name
    font-size: 1.25em
  .price
    float: right

  .description
    margin-top: 0.5em

aside
  float: right
  width: 27%
  margin: 0 1.5%
  padding: 20px

.headerbar
  width: 100%
  background-color: $bgcoloralt
  border-bottom: 1px solid $primcolor


header
  max-width: 1140px
  margin: 0 auto
  padding: 20px
  position: relative
  .logo
    font-family: 'Cabin Sketch', cursive
    font-size: 6em
    color: $primcolor
  .userinfo
    position: absolute
    top: 30px
    right: 20px
    font-size: 0.8em
  nav
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        display: inline
        text-decoration: none
        padding: 10px
        a
          color: $primcolor

#alert
  color: $red
  border: 1px solid $redbg
  padding: 10px

.timestamp
  font-style: italic
  font-size: 0.75em

a
  color: $linkblue
  text-decoration: none
  &:hover
    text-decoration: underline

.field
  margin-bottom: 1em

input, textarea
  width: 100%
  font-size: 1.1em
  padding: 10px
  margin-top: 10px
  // border-color: rgb(238, 238, 238);

  &[type="submit"]
    width: auto
    padding: 10px 20px
    background: $primcolor
    color: $white
    border: 0 none
    cursor: pointer


table
  width: 100%
  // border: 1px solid $primcolor
  border-collapse: collapse
  td, th
    // border: 1px solid $primcolor
    text-align: left
    padding: 20px 10px
  th
    color: $primcolor
    width: 1%
    font-weight: normal
  tr
    border-bottom: 1px dotted $primcolor
    border-top: 1px dotted $primcolor
  td
    ol
    padding-left: 25px
    margin: 0px
    li
      h4
        margin-bottom: 0px
        color: $blackish
        font-weight: bold
        font-family: 'Open Sans', sans-serif
      p
        margin-top: 0.25em
        font-size: 0.85em