
  <% @product.reviews.each do |review| %>
  <% unless review.new_record? %>
        <div class="poster">
          Posted by <%= review.user.name %> on <%= review.created_at %>
        </div>
        <p class="comment">
          <%= review.comment %>
        </p>

    <% end %>
      <% end %>
