<!--   <% @product.reviews.each do |review| %>
    <p>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> by </em>
        Added on:
      <% end %>
    </p>
  <% end %> -->

        <% if !@product.reviews.empty? %>
        <ol>
          <% @product.reviews.each do |review| %>
              <% if (review.user != nil) %>

              <li><h4>Review by <%= link_to review.user.name, review.user %></h4>
                <%= review.created_at.strftime("%F") %>
                <p>
                <%= review.comment %>
                </p>
              </li>
              <% end %>
          <% end %>
         </ol>
      <% else %>
        <p>There are not yet any reviews for this product.  </p>
      <% end %>