<h1>Welcome to Rainforest</h1>
<nav>
  <ul>
    <li><%= link_to "New", 'products/new' %></li>
  </ul>
</nav>
<ul>
<h2>Products</h2>
<% @products.each do |product| %>
<li>
  <%= link_to product.name, "/products/#{product.id}" %>
</li>

<% end %>
</ul>